.page {
  .content {
    .max-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 56px);
      i {
        font-size: 30px;
      }
    }
    .form {
      padding: 20px;
      mat-form-field {
        width: 100%;
      }
    }
    .error {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 56px);
      columns: red;
    }
  }
}
