@use "@angular/material" as mat;
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  i {
    margin-right: 10px;
  }
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.form-field-overrides(
    (
      filled-container-color: rgb(255, 255, 255),
      filled-label-text-color: black,
      filled-focus-active-indicator-color: rgb(255, 104, 247),
    )
  );
}
